.search-form {
    margin-bottom: 40px;
}

button {
    margin-left: 10px;
    color: rgb(250, 227, 16);
    background-color: #000000;
    border-radius: 4px;
    padding: 2px 5px;
    font-size: 18px;
    cursor: zoom-in;
}